# Django BNB todo list

## Install and setup next js, create project
## Code for nav bar
## Categorize the front page
## List properties on the front page(static)
## Detail page for properties
## Landlord page (static)