# Django BNB todo list

## Install and setup next js, create project
## Code for nav bar
## Categorize the front page
## List properties on the front page(static)
## Detail page for properties
## Landlord page (static)
## My reservation (Static)
## My properties (Static)
## Inbox page (Static)
## Detail page for chat (static)
## User menu popup
## Create reusable modal window
## Login modal (remember error codes)
## Signup modal (remember error codes)
## Setup Docker for django with postgres
## Create usermodel / config
## Create app for properties

## Create model and Serializer for properties(DRF)
## Get properties from Frontend and list them on the front page
## Implement Auth (Login, Signup, Logout)
## Add properties from next.js (Create model, API endpoint, Send data)

## Detail page for properties
## Landlord dynamic
## My properties dynamic
## My reservation dynamic
## Make it possible to set properties
## My favorites page(listing)
## Conversation page dynamic
## 

## Setup Websocket
## Make it possible for connect
## send and receive messages
## store and load message
## start new conversation
## 